#ratingsAndReviews
  display: flex
  flex-direction: column
  margin-bottom: 30px
  padding: 7px

  #mainTitle
    font-weight: thick
    font-size: 22px

  #breakdownAndReviews
    display: flex
    flex-direction: row
    justify-content: space-around

    #breakdownAndCharacteristics
      display: flex
      flex-direction: column

      #breakdown
        display: flex
        flex-direction: column
        font-size: 18px

        #averageRatingHeading
          display: flex
          flex-direction: row

          #averageRatingNumber
            font-weight: bold
            font-size: 70px

          #averageRatingStars
            display: flex
            flex-direction: row

            .rating
              display: none

          .star
            cursor: pointer
            transition: color 200ms

        .starPercentage
          text-decoration: underline
          cursor: pointer

        #recommendPercentage
          font-size: 14px

    #reviewsListAndButtons
      min-width: 800px
      display: flex
      flex-direction: column

      #listSortHeading
        font-size: 20px
        font-weight: bold

      #reviewsList
        display: flex
        flex-direction: column
        justify-content: center

        .reviewTile
          border: 1px solid grey
          display: flex
          flex-direction: column
          border-radius: 5px
          padding: 8px

          .reviewHeading
            display: flex
            flex-direction: row
            justify-content: space-between

            .reviewRating
              font-weight: bold
              font-size: 14px

            .reviewName
              font-size: 14px

      #bottomButtons
        display: flex
        flex-direction: row
        padding: 8px

        .reviewButton
          height: 80px
          width: 200px
          font-weight: bold
          border: 1px solid black
          border-radius: 1px
          font-size: 18px

        #modalBackground
          position: fixed
          top: 0
          left: 0
          right: 0
          bottom: 0
          background-color: rgba(0, 0, 0, .7)
          zIndex: 1000

          #modalContainer
            display: flex
            flex-direction: column
            position: fixed
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            background-color: white
            padding: 40px
            zIndex: 1000

            #modalHeading
              display: flex
              flex-direction: row
              justify-content: space-between

              #closeModal
                align-self: flex-end
                font-size: 36px
                height: 36px
                color: grey
                background-color: transparent
                cursor: pointer
                border: none

            #overallRating
              display: flex
              flex-direction: column

              #chooseStar
                display: flex
                flex-direction: row

              .radio
                height: 20px
                width: 20px

            #recommendation
              display: flex
              flex-direction: row
              justify-content: flex-start

            .reviewInput
              text-align: left

            #submitButton
              height: 36px
              width: 68px
              font-size: 16px


























