#mainTitle
  font-weight: thick
  font-size: 30px

#ratingsAndReviews
  display: flex
  width: 100%
  justify-content: space-around
  margin-bottom: 30px

  #breakdown
    font-weight: bold
    font-size: 60px

    .starPercentage
      text-decoration: underline
      font-size: 16px

    .recommendPercentage
      font-size: 16px

  #characteristics
    font-size: 16px

  #reviewsList
    min-width: 850px
    display: flex
    flex-direction: column

    #listSortHeading
      font-size: 20px
      font-weight: bold

    .reviewTile
      border: 1px solid grey
      display: flex
      flex-direction: column

    .reviewHeading
      display: flex
      flex-direction: row
      justify-content: space-between

      .reviewSummary
        font-size: 18px
        font-weight: bold

      .reviewBody
        font-size: 16px

      .reviewerName
        font-size: 14px

        .review
          display: flex
          flex-direction: column

    .helpful
      display: flex
      flex-display: row







