// Ratings and Reviews component(s)
  #mainTitle
    font-weight: thick
    font-size: 30px

#ratingsAndReviews
  display: flex
  width: 100%
  justify-content: space-around
  margin-bottom: 30px

  #breakdown
    font-weight: thicker
    font-size: 60px

    .starPercentage
      text-decoration: underline
      font-size: 16px

    .recommendPercentage
      font-size: 16px

  #characteristics
    font-size: 16px

  #reviewsList
    min-width: 850px
    display: flex
    flex-direction: column

    #listSortHeading
      font-size: 50
      font-weight: thick

    .reviewTile
      border: 1px solid grey






