#widget
  display: flex
  flex-direction: column

  .carousel
    width: 100%
    display: flex


    .card
      display: flex
      flex-direction: column
      justify-content: space-between
      padding: 15px

      .thumbnail-container
        display: flex
        align-items: center
        justify-content: center
        margin: 5px
        border: 1px solid grey
        border-radius: 50%
        height: 200px
        width: 200px
        background-position-x: 50%
        background-position-y: 75%
        background-repeat: no-repeat
        background-size: cover
        overflow: hidden

        .thumbnail
          height: 100%

      .info-container
         display: flex
         flex-direction: column
         justify-content: space-between
         padding-top:20px

      .info
        display: flex
        justify-content: center
        padding-bottom: 10px

      #info-name
          display: flex
          justify-content: center
          border: 3px solid grey
          border-radius: 25px


