// Global Styling
html
  font-family: Arial, Helvetica, sans-serif
  color: #2b2d42

/* Headings */

h1
  font-size: 24px
  font-weight: bold
  margin: 20px 0

h2
  font-size: 20px
  font-weight: bold
  margin: 16px 0

h3
  font-size: 18px
  font-weight: bold
  margin: 12px 0

/* Links */
a
  text-decoration: none

a:hover
  text-decoration: underline

/* Lists */
ul,
ol
  margin: 0
  padding: 0
  list-style: none

li
  margin-bottom: 8px

/* Paragraphs */
p
  line-height: 1.5

input,
select,
textarea
  width: 100%
  padding: 8px
  border: 1px solid #ccc
  border-radius: 4px
  margin-bottom: 8px
  font-size: 20px
  text-align: center

button
  background-color: #0066cc
  color: #fff
  border: none
  border-radius: 4px
  cursor: pointer

button:hover
  background-color: #004c99

// App.jsx
#root
  display: flex
  justify-content: center

#container
  display: flex
  flex-direction: column
  width: 1200px






