#root
  display: flex
  justify-content: center


#container
  display: flex
  flex-direction: column
  width: 1200px


// Overview Component
#overview
  display: flex
  width: 100%
  min-height: 600px
  margin-bottom: 20px
  #image-gallery
    min-width: 780px
    padding: 10px
    background-image: url('https://images.unsplash.com/photo-1614313913007-2b4ae8ce32d6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2574&q=80')
    background-position: center
    background-repeat: no-repeat
    background-size: cover

  aside
    align-self: baseline
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 0 10px
    min-width: 380px
    min-height: 600px
    section
      border: 1px solid grey
      padding-left: 10px
      padding-right: 10px

    #product-info
      min-height: 280px

    #style-selector
      display: flex
      flex-direction: column
      min-height: 100px
      #style-name-container
        min-height: 30px


      .styles-row
        margin-bottom: 10px


    #add-to-cart
      display: flex
      flex-direction: column
      min-height: 100px
      width: 360px
      #size-warning-container
        min-height: 10px

      #cart-form-container
        width: 100%
        display: flex
        #select-container
          display: flex
          justify-content: space-between
          select
            height: 50px
            margin-bottom: 5px

          #size-select
            width: 200px

          #qty-select
            width: 155px
            align-self: baseline


        button
          height: 50px
          width: 360px
          font-size: large
          margin-bottom: 10px

// RelatedAndComparisons Component
#widget
  display: flex
  flex-direction: column

  #related-carousel
    width: 100%
    display: flex


    #card
      display: flex
      flex-direction: column
      padding: 15px








